:root {
  --main: #195af5;
  --main-transparent: rgba(25, 90, 245, 0.1);
  --background-1: #ffffff;
  --background-2: #ffffff;
  --text-1: #000000;
  --text-2: rgba(0, 0, 0, 0.7);
  --text-3: rgba(0, 0, 0, 0.4);
  --transparent: #e6e6e6;
  --footer-background: var(--main);
}

.dark-mode {
  --main: #4d81ff;
  --main-transparent: rgba(77, 129, 255, 0.15);
  --background-1: #222222;
  --background-2: #333333;
  --text-1: #ffffff;
  --text-2: rgba(255, 255, 255, 0.7);
  --text-3: rgba(255, 255, 255, 0.4);
  --transparent: #3b3b3b;
  --footer-background: var(--background-2);
}
